$primaryText: #94959A;
$secondaryText: #29253C;
$tertiaryText: #FFFFFF;
$quaternaryText: #FF7058;
$primaryTitle: #120D26;
$secondaryTitle: #FFFFFF;
$tertiaryTitle: #FF7058;
$primaryButton: #FF7058;
$secondaryButton: #120D26;
$background: rgba(255, 112, 88, 0.05);

$durationTiming: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$primaryFontFam: 'Poppins', sans-serif;
$secondaryFontFam: 'Raleway', sans-serif;