<section class="section comments">
  <div class="container">
    <h2>Our Happy Users</h2>
    <ul>
      <li>
        <h3>Very Good Design Services</h3>
        <p>"Used for many years. Never have any problem in my computer."</p>
        <ul class="list">
          <li>
            <svg
              class="star__icon star__icon--positive"
              width="27px"
              height="27px"
            >
              <use href="../src/images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg
              class="star__icon star__icon--positive"
              width="27px"
              height="27px"
            >
              <use href="../src/images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg
              class="star__icon star__icon--positive"
              width="27px"
              height="27px"
            >
              <use href="../src/images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg
              class="star__icon star__icon--positive"
              width="27px"
              height="27px"
            >
              <use href="../src/images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg class="star__icon" width="27px" height="27px">
              <use href="../src/images/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p>by Ugur D.</p>
      </li>
      <li>
        <h3>Complete assistance with design & development</h3>
        <p>
          The reason I initially first went with Kaspersky a few years ago was
          that I heard it was not very heavy on my resources.
        </p>
        <ul class="list">
          <li>
            <svg
              class="star__icon star__icon--positive"
              width="27px"
              height="27px"
            >
              <use href="../src/images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg
              class="star__icon star__icon--positive"
              width="27px"
              height="27px"
            >
              <use href="../src/images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg
              class="star__icon star__icon--positive"
              width="27px"
              height="27px"
            >
              <use href="../src/images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg
              class="star__icon star__icon--positive"
              width="27px"
              height="27px"
            >
              <use href="../src/images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg
              class="star__icon star__icon--positive"
              width="27px"
              height="27px"
            >
              <use href="../src/images/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p>by Ugur D.</p>
      </li>
      <li>
        <h3>Awesome team collaboration</h3>
        <p>
          A great product for all, easy to use and gives you all round
          protection. I like the easy way it carries out updates and the fixing
          of errors
        </p>
        <ul class="list">
          <li>
            <svg
              class="star__icon star__icon--positive"
              width="27px"
              height="27px"
            >
              <use href="../src/images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg
              class="star__icon star__icon--positive"
              width="27px"
              height="27px"
            >
              <use href="../src/images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg
              class="star__icon star__icon--positive"
              width="27px"
              height="27px"
            >
              <use href="../src/images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg class="star__icon" width="27px" height="27px">
              <use href="../src/images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg class="star__icon" width="27px" height="27px">
              <use href="../src/images/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p>by Ugur D.</p>
      </li>
    </ul>
  </div>
</section>
