<section class="section">
  <div class="container">
    <p class="company__text">Thousands of teams worldwide are using Hugi</p>
    <ul class="list company__list">
      <li class="company__item">
        <a
          class="company__link"
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="company__icon" width="170px" height="92px">
            <use href="../src/images/sprite.svg#icon-google"></use>
          </svg>
        </a>
      </li>
      <li class="company__item">
        <a
          class="company__link"
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="company__icon" width="170px" height="92px">
            <use href="../src/images/sprite.svg#icon-yahoo"></use>
          </svg>
        </a>
      </li>
      <li class="company__item">
        <a
          class="company__link"
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="company__icon" width="170px" height="92px">
            <use href="../src/images/sprite.svg#icon-microsoft"></use>
          </svg>
        </a>
      </li>
      <li class="company__item">
        <a
          class="company__link"
          href=""
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="company__icon" width="170px" height="92px">
            <use href="../src/images/sprite.svg#icon-huawei"></use>
          </svg>
        </a>
      </li>
      </ul>
  </div>
</section>
