<footer class="footer">
  <div class="container">
    <div>
      <h2>Company</h2>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <div>
      <h2>Contact</h2>
      <ul>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">F.A.Q</a></li>
      </ul>
    </div>
    <div>
      <p>© 2021 Yogi.com</p>
      <ul>
        <li>
          <a
            class="social-media__link"
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="social-media__icon" width="24px" height="24px">
              <use href="../src/images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social-media__link"
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="social-media__icon" width="24px" height="24px">
              <use href="../src/images/sprite.svg#icon-twitter"></use>24px
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social-media__link"
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="social-media__icon" width="24px" height="24px">
              <use href="../src/images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social-media__link"
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="social-media__icon" width="24px" height="24px">
              <use href="../src/images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>