<header class="header">
  <div class="container">
    <a class="logo__link" href="#">
      <svg class="logo__icon" width="170px" height="92px">
        <use href="../src/images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="navigation">
      <ul class="site-nav list">
        <li>
          <div class="site-nav__item">
            <a class="site-nav__link link current" href="./index.html"
              >Pricing</a
            >
          </div>
        </li>
        <li>
          <div class="site-nav__item">
            <a class="site-nav__link link" href="./index.html">About Us</a>
          </div>
        </li>
        <li>
          <div class="site-nav__item">
            <a class="site-nav__link link" href="./index.html">Contact</a>
          </div>
        </li>
      </ul>
    </nav>
    <ul class="list">
      <li>
        <button type="button" class="btn">Login</button>
      </li>
      <li>
        <button type="button" class="btn">Sign Up</button>
      </li>
    </ul>
  </div>
</header>
