<section class="section">
    <div class="container">
<div>
    <h2>Global leader in Design & Development</h2>
    <p>The company’s comprehensive security portfolio includes leading endpoint protection and a number of specialized security solutions and services to fight sophisticated and evolving digital threats. Over 400 million users are protected by Yogi technologies and we help 250,000 corporate clients protect what matters most to them.</p>
    <button type="button" class="btn">Learn more</button>
</div>
<ul>
    <li><img src="../src/images/info1.jpg" alt="Worker"></li>
    <li><img src="../src/images/info2.jpg" alt="People"></li>
    <li><img src="../src/images/info3.jpg" alt="Workers"></li>
    <li><img src="../src/images/info4.jpg" alt="Hands"></li>
</ul>
    </div>
</section>