<section class="section pricing">
    <div class="container">
 <h2>Our Pricing</h2>
 <p>Shop, stream, bank and browse the web design & dev. by an industry-leader for all your devices.</p>
 <ul class="list">
  <li>
    <p>$50/hr</p>
    <h3>App Design</h3>
    <p>Essential Services for a Startup App Design</p>
    <ul class="list__option">
      <li>Only Androind App</li>
      <li>Responsive Design</li>
    </ul>
    <button type="button" class="btn">Buy Now</button>
  </li>
  <li>
    <p>$499/hr</p>
    <h3>Popular</h3>
    <p>Advanced Level Company App Design for Mobile</p>
    <ul class="list__option">
      <li>Andoird Version App</li>
      <li>iOS Version App</li>
      <li>Landing Page Design</li>
      <li>Responsive Designs</li>
      <li>Advertising Designs</li>
    </ul>
    <button type="button" class="btn">Buy Now</button>
  </li>
  <li>
    <p>$999/hr</p>
    <h3>Premium Suite</h3>
    <p>VIP Level of Product Design Services</p>
    <ul class="list__option">
      <li>Android App Version</li>
      <li>iOS App Version</li>
      <li>Landing Page Design</li>
      <li>Web Application Design</li>
      <li>Marketing Materials</li>
      <li>Advertisement Design</li>
      <li>Dashboard Design</li>
      <li>Branding</li>
    </ul>
    <button type="button" class="btn">Buy Now</button>
  </li>
 </ul>
    </div>
</section>

